---
layout: default
pagination:
    data: archivedEvents
    size: 6
--- 

<div class="container">
    <div class="py-2 row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-2 g-lg-3">
    {% set event_index = 0 %}
    {%- for event in pagination.items -%}
        <div class="col d-flex">
            <div class="card border-{{event.style}} h-100 w-100">
                <div class="card-header h4 text-center bg-{{event.style}} text-white">{{event.title}}</div>
                <div class="card-body">

                    <h6 class="card-subtitle mb-2">
                        <em>{{event.date}}</em>
                        {% if event.language %}
                            , {{event.language}}
                        {% endif %}
                    </h6>
                    
                    <p class="card-text" style="text-align: justify;">{{ event.annotation }}</p>

                    <div class="accordion accordion-flush w-100" id="presenters">
                        {% set index = 0 %}
                        {%- for presenter in event.presenters -%}
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="presenters-heading-{{index}}-{{event_index}}">
                            <button class="accordion-button collapsed card-subtitle" type="button" data-bs-toggle="collapse" data-bs-target="#presenters-collapse-{{index}}-{{event_index}}" aria-expanded="false" aria-controls="presenters-collapse-{{index}}-{{event_index}}">
                                {{ presenter.name }}
                            </button>
                          </h2>
                          <div id="presenters-collapse-{{index}}-{{event_index}}" class="accordion-collapse collapse" aria-labelledby="presenters-heading-{{index}}-{{event_index}}" data-bs-parent="#presenters">
                            <div class="accordion-body" style="text-align: justify;">{{ presenter.information }}</div>
                          </div>
                        </div>
                        {% set index = index + 1 %}
                        {%- endfor -%}
                      </div>
                    
                    {%- for link in event.links -%}
                    <a href="{{link.url}}" class="card-link">{{ link.text }}</a>
                    {%- endfor -%}
                </div>
                {% if event.recording %}
                <a class="card-footer btn col-12 bg-{{event.style}} text-white" href="{{ event.recording }}" target="_blank">
                    Záznam
                </a>
                {% endif %}
            </div>
        </div>
        {% set event_index = event_index + 1 %}
    {%- endfor -%}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not pagination.href.previous %}disabled{% endif %}">
                <a class="page-link text-white {% if not pagination.href.previous %}bg-secondary border-secondary{% else %}bg-dark border-dark{% endif %}" href="{{ pagination.href.previous }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
            {%- for pageEntry in pagination.pages %}
            <li class="page-item{% if pagination.pageNumber == (loop.index - 1) %} disabled{% endif %}">
                <a class="page-link text-white {% if pagination.pageNumber == (loop.index - 1) %}bg-secondary border-secondary{% else %}border-dark bg-dark{% endif %}" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
            {%- endfor %}
            <li class="page-item {% if not pagination.href.next %}disabled{% endif %}">
                <a class="page-link text-white {% if not pagination.href.next %}bg-secondary border-secondary{% else %}bg-dark border-dark{% endif %}" href="{{ pagination.href.next }}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
</div>