---
layout: default
--- 

<div class="container">
    <h3 class="text-center">
        Semináre informačnej bezpečnosti na FIIT STU v Bratislave
    </h3>
    <hr>
    <small>
        Aj v letnom semestri akademického roka 2020/21 sa uskutoční séria prednášok na tému informačnej bezpečnosti na FIIT STU (SIB FIIT STU). 
        <br>
        <p class="text-danger">
            V dôsledku pretrvávajúcej nepriaznivej situácie, spôsobenej šíriacim sa ochorením COVID-19, budú semináre online formou.
        </p>
    </small>

    <h4 class="text-center">
        Registrácia na semináre
    </h4>
    <p style="text-align: justify;">
        Pred každým seminárom  je nutné sa registrovať (registračný mail bude zverejnený krátko pred oficiálnym termínom). Registrácia je pre organizátorov, ako aj lektorov, veľmi dôležitá, aby vedeli, s akým počtom študentov majú počítať. Iba registrovaným študentom/účastníkom neskôr dôjde pripomienkový email s organizačnými pokynmi. Registráciu berte to zodpovedne, ak sa po registrácii nebudete môcť zúčastniť dajte vopred vedieť.
    </p>

    <h4 class="text-center">
        Témy
    </h4>
    <p style="text-align: justify;">
        Tento semester sa dotkneme pestrej palety tém: útoky DDoS, ofenzívna bezpečnosť sociálnym inžinierstvom, tvorba SIGMA detekčných pravidiel, pasce na chytanie útočníkov, zákon o kybernetickej bezpečnosti, SIEM (Security Information and Event Management), Next Generation Firewall, SOAR (Security Orchestration, Automation and Response), bezpečnosť priemyselných systémov a ďalšie.
    </p>

    
    <h4 class="text-center">
        Budovanie komunity
    </h4>
    <p style="text-align: justify;">
        Ak vo svojom voľnom čase alebo profesionálne robíte na zaujímavej téme z informačnej bezpečnosti, budeme veľmi radi, ak sa s nami podelíte o informácie alebo skúsenosti. Semináre sú otvorené aj pre širšiu verejnosť ako len pre FIIT, a tak radi privítame na našich workshopov aj ďalsích záujemcov o IB.
    </p>

    <hr>
    
    <p style="text-align: justify;">
        Seminár informačnej bezpečnosti na FIIT STU vedú Martin Mihalovič a Ing. Alexander Valach. Garant seminára je doc. Ladislav Hudec.
        <br>
        Poďakovanie za uplynulý semester patrí najmä lektorom, ktorí si našli čas a ochotu posunúť  svoje vedomosti a skúsenosti študentom a mladým profesionálom v oblasti informačnej bezpečnosti. Menovite ďakujeme Jánovi Andraškovi z Binary Confidence, Alexandrovi Valachovi z FIIT STU, Jánovi Laštincovi z FIIT STU, Miroslavovi Hrickovi zo Siemensu, Lacovi Bačovi z LIFARS, Mirovi Sidorovi z CSIRT.SK, Mykolovi Yankovi zo Siemensu a Matejovi Šipkovskému z Netvelu. Ďakujeme, že aj týmto spôsobom pomáhate budovať a zlepšovať úroveň informačnej bezpečnosti na Slovensku.
    </p>
</div>