---
layout: default
--- 

<div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
  <div class="d-flex justify-content-center">
      <div class="text-center">
          <h2 class="mx-auto">Vitajte na stránke (PRIDAT POSTER)</h2>
          <h1 class="mx-auto text-uppercase">SIB - Seminár infromačnej bezpečnosti</h1>
      </div>
  </div>
</div>