<!-- Event registration -->
<div class="modal fade" id="eventRegistration" tabindex="-1" aria-labelledby="eventRegistrationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventRegistrationLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
          Legac advice
          ...
          Registration form
          ...
          Link to permanent registration
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavrieť</button>
          <button type="button" class="btn btn-dark" disabled>Zaregistruj sa</button>
        </div>
      </div>
    </div>
  </div>