<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{% if title %}
    <title>{{site}} - {{title}}</title>
{% else %}
    <title>{{site}}</title>
{% endif %}

{% if description %}
    <meta name="description" content="{{description}}">
{% else %}
    <meta name="description" content="{{description}}">
{% endif %}

<link href="/assets/main.css" rel="stylesheet">
