<!doctype html>
<html lang="en">
    <head>
    {% include "parts/header.njk" %}
    </head>
    <body>
        {% include "parts/navbar.njk" %}

        <main class="float-none m-0 px-0">
            <div class="w-100 h-100 overflow-auto">
                {{ content | safe }}
            </div>
        </main>
    </body>
</html>